%div{:id => "#{dom_id menu}"}
  %p.my-5
    %strong.block.font-medium.mb-1 Name:
    = menu.name
  - if action_name != "show"
    = link_to "Show this menu", menu, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    = link_to "Edit this menu", edit_menu_path(menu), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"
    %hr.mt-6/
